#date-time {
  background-color: #0d0d0d;
  border-radius: 10px;
  font-family: GeistMono NF;
  font-size: 15px;
  margin: 5px -5px 5px -5px;
  padding-right: 10px;
  padding-left: 10px;
  min-width: 80px;
}

#bar-right-box {
  background-color: #d9d9d9;
  border-radius: 10px;
  padding: 3px;
  margin: 5px;
}

#volume-circular-progress-bar {
  color: #d9d9d9;
  background-color: #0d0d0d;
  border: 2px solid #e02b2b;
  font-family: JetBrainsMono NF;
  border-radius: 100px;
}

#sys-tray {
  margin: 2px;
  margin-left: 5px;
  box-shadow: 0px 4px 3px 1px rgba(0, 0, 0, 0.2) inset;
  border-radius: 10px;
  padding: 3px 5px 3px 5px;
  border: 1px solid rgb(180, 180, 180);
}

#sys-tray > button {
  margin: 0px 2px 0px 2px;
}

menu {
  background-color: #0d0d0d;
  border-radius: 10px;
  font-family: Bricolage Grotesque;
  padding: 5px;
  border: 1px solid rgba(100, 100, 100, 0.5);
}

menu > menuitem {
  padding: 3px;
  border-radius: 5px;
  background-color: #0d0d0d;
  color: #d9d9d9;
}

menu > menuitem:hover {
  background-color: #e02b2b;
  color: #0d0d0d;
}

#right-panel-button {
  background-color: #0d0d0d;
  font-family: JetBrainsMono NF;
  font-size: 15px;
  margin: 2px 5px 2px 5px;
  border-radius: 10px;
  padding: 5px;
  padding-right: 10px;
  min-width: 18px;
  min-height: 15px;
  transition: background-color 0.3s;
  transition: color 0.4s;
}

#right-panel-button:hover {
  background-color: #e02b2b;
  color: #0d0d0d;
}

#right-panel-button:active {
  font-size: 12px;
}

#sys-info-box {
  background-color: #d9d9d9;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  min-height: 36px;
}

#mem-box {
  background-color: #929292;
  border-radius: 8px;
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.25);
  padding-left: 5px;
  padding-right: 5px;
}

#mem-prog {
  background-color: #0d0d0d;
  border: 3px solid #e02b2b;
  color: rgba(0, 0, 0, 0);
  font-family: JetBrainsMono NF;
  border-radius: 100px;
  margin-top: -5px;
  margin-bottom: -5px;
}

#cpu-box {
  background-color: #929292;
  border-radius: 8px;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
}

#battery-box {
  border-radius: 8px;
  background-color: #31bc36;
}

#battery-icon {
  margin: 5px;
  color: #0d0d0d;
  font-size: 20px;
}

#battery-label {
  color: #0d0d0d;
  font-family: "Nothing Font (5x7)";
  font-size: 15px;
  margin: 5px;
  margin-top: 7px;
}