* {
    all: unset;
}

#right-main-box {
    background-color: #0d0d0d;
    border-radius: 18px;
    margin: 5px 5px 5px 0px;
    min-height: 50px;
}

#right-menu-box {
    border: 2px solid rgba(100, 100, 100, 0.5);
    border-radius: 14px;
    margin: 15px;
    min-width: 300px;
    min-height: 180px;
}

#calendar-box {
    padding: 15px;
}

#calendar.view {
    background-color: #d9d9d9;
    border-radius: 10px;
}

#calendar.header {
    background-color: #e02b2b;
    border-radius: 10px 10px 0px 0px;
}

#calendar {
    margin: 5px;
}

#calendar:selected {
    background-color: #e02b2b;
    border-radius: 10px;
    color: #0d0d0d;
}

#time-cal-box {
    margin: 10px;
    margin-bottom: 5px;
    margin-top: 15px;
}

#right-date-box,
#right-time-box {
    background-color: #d9d9d9;
    border-radius: 15px;
    margin-bottom: 10px;
    min-height: 70px;
    min-width: 120px;
}

#todo-label {
    font-family: "Nothing Font (5x7)";
    color: #e02b2b;
    font-size: 20px;
    margin: 5px 0px 5px 10px;
}

#task-element-main-box {
    background-color: #d9d9d9;
    color: #0d0d0d;
    border-radius: 8px;
    margin: 7px 10px 7px 10px;
    padding: 5px 10px 5px 10px;
}

#task-element-label {
    font-family: Bricolage Grotesque;
    font-size: 15px;
    margin: 0px 10px 0px 10px;
    min-width: 160px;
}

#task-element-focus-button, 
#task-delete-button {
    background-color: #0d0d0d;
    color: #d9d9d9;
    min-width: 20px;
    min-height: 20px;
    font-size: 15px;
    border-radius: 6px;
    padding: 5px;
    padding-right: 8px;
    transition: background-color 0.3s;
    transition: color 0.4s;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.25);
}

#task-element-focus-button:hover,
#task-delete-button:hover {
    background-color: #e02b2b;
    color: #0d0d0d;
}

#task-element-focus-button:active,
#task-delete-button:active {
    font-size: 13px;
}

#side-task-box {
    background-color: #202020;
    border-radius: 16px;
    min-width: 270px;
    min-height: 250px;
    padding: 10px;
    margin: 10px;
}

#task-list-scroll-window {
    margin-bottom: 10px;
}

entry {
    min-width: 180px;
    background-color: #0d0d0d;
    color: #d9d9d9;
    border-radius: 8px;
    min-height: 30px;
    margin: 0px 5px 0px 5px;
    padding: 5px 10px 5px 10px;
    box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.25);
}
