#bar-media-main-box {
  margin: 5px;
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 5px;
  background-color: #d9d9d9;
  border-radius: 8px;
  margin-left: 5px;
}

#bar-media-label {
  font-family: Bricolage Grotesque;
  color: #0d0d0d;
  font-size: 15px;
  margin: 5px;
  margin-top: 3px;
  min-height: 20px;
}

progressbar {
  background-color: #909090;
  min-width: 220px;
  border-radius: 5px;
  margin-bottom: 4px;
  margin-left: 10px;
}

progressbar > trough > progress {
  background-color: #c62828;
  border-radius: 2px;
}

#media-cover {
  min-height: 35px;
  min-width: 35px;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}

#cover-box {
  min-height: 35px;
  min-width: 35px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #0d0d0d;
  background-size: cover;
  background-position: center;
}

#status-icon {
  font-size: 30px;
  color: rgba(200, 200, 200, 0);
  margin-right: 10px;
  font-family: JetBrainsMono NF;
  transition: color 0.5s;
  min-width: 35px;
  min-height: 35px;
}

#status-icon:hover {
  color: rgba(206, 25, 25, 0.8);
}
